{% extends "base.html" %}
{% macro topBox(header, bodytype) %}
    <div class="top-box">
        {% if bodytype==0 %}
        <span id="unhide" class="hidden">Document Awaiting Approval</span>
        {% endif %}
        <div id="hide-box">
            <h2>{{ header }}</h2>
            {% if bodytype==0 %}
            <span>Mark the document as approved for review?</span>
            <i class="click-icon fa-solid fa-check big" onclick="setAction('approve')"></i>
            <i class="click-icon fa-solid fa-xmark big" onclick="setAction('reject')"></i>
            {% endif %}
        </div>
        <i class="min-icon fa-solid fa-angle-up big" onclick="hideBox(this)"></i>
    </div>
    <form method="post">
        <input type="hidden" id="docAction" name="action" value="none">
    </form>
{% endmacro %}

{% block title %}View Document{% endblock %}

{% block content %}
    {% if docstate == 2 and check_state(g.stateint, 2)%}
        {{ topBox("Document Awaiting Approval", 0) }}
    {% endif %}
    <iframe class="docview" src="{{ url_for('docs.viewer') }}?filename={{ filename }}"></iframe> {# iframe to display document #}
{% endblock %}

<script>
    {% block scripts %}
        function hideBox(node) {
            document.getElementById("hide-box").classList.toggle("hidden");
            document.getElementById("unhide").classList.toggle("hidden");
            node.classList.toggle("fa-angle-up");
            node.classList.toggle("fa-angle-down");
        }
        function setAction(action, confirm="") {
            actionInput = document.getElementById("docAction");
            actionInput.value = action;
            if (confirm.length == 0 || confirm(confirm)) {
                actionInput.form.submit();
            }
        }
    {% endblock %}
</script>