{% extends "base.html" %}

{% block content %}
    <div class="display-box memberlist">
        {% if g.user is not none%}
        <h1>Documents</h1>
        <div class="top-control">
            {% if check_state(g.stateint, 1) and docs|length > 0 %} {# if user has upload permissions show add new button #}
                <a href="{{ url_for('docs.addDocument') }}"><button>Add New</button></a>
            {% endif %}
        </div>
            {% if docs is not none and docs|length > 0 %} {# if there are docs show them #}
                <table class="main-content hover">
                <thead>
                    <tr> {# table header #}
                        <th>Name</th>
                        <th>Type</th>
                        <th>Stage</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody> {# contains each row of document info #}
                    {% for doc in docs %}
                        <tr id="{{ doc['document_id'] }}" onclick="editDocument(this)"> {# clicking a row will redirect to view page for that doc #}
                            <td>{{ doc["document_name"] }}</td>
                            <td>{% if doc["document_type"] == 0 %}txt{% else %}pdf{% endif %}</td> {# 0 = txt, 1 = pdf #}
                            <td>{{ states[doc["state_id"]].docStage }}</td>
                            <td>{{ authors[doc["author_id"] | string] }}</td>
                            <td>{{ date_concise(doc["date_created"]) }}</td>
                            <td>{{ date_concise(doc["last_updated"]) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% else %} {# if there are no docs say so #}
                <h2 class="main-content">No documents found</h2>
                {% if check_state(g.stateint, 1) %} {# if user has upload permissions show add new button #}
                    <a href="{{ url_for('docs.addDocument') }}"><button style="margin-bottom: 3rem;" class="fix-size-button">Add New</button></a>
                {% endif %}
            {% endif %}
        {% else %} {# show this if no user logged in #}
            <h1>{% block fulltitle %}Collabinator{% endblock %}</h1>
            <div class="main-content empty">
                <h2>Documents Will Be Displayed Here Once You <a href="{{ url_for('auth.login') }}">Log In</a></h2>
            </div>
        {% endif %}
    </div>
    {% endblock %}
<script>
    {% block scripts %}
        function editDocument(node) { 
            url = "{{ url_for('docs.viewDocument') }}?docID="; {# url is inserted by jinja, docID get variable is stored in id of the row #}
            window.location.href = url + node.id; //redirect to url with docID from row id
        }
    {% endblock %}
</script>