{% extends "base.html" %}
{% macro topBox(bodytype) %}
    {% if bodytype == 2 and check_state(g.stateint, 2)%}
        {% set header = "Document Awaiting Approval" %}
    {% elif check_state(g.stateint, 3) %}
        {% if bodytype == 3 %}
            {% set header = "Select Reviewers for Document" %}
        {% else %}
            {% set header = "Add Reviewers to Document" %}
        {% endif %}
    {% endif %}
    {% if header and bodytype != 10 %}
        <div class="top-box">
            <span id="unhide" {% if bodytype <= 3 %}class="hidden"{% endif %}>{{ header }}</span>
            <div id="hide-box" {% if bodytype > 3 %}class="hidden"{% endif %}>
                <h2>{{ header }}</h2>
                {% if bodytype==2 %}
                    <span>Mark the document as approved for review?</span>
                    <i class="click-icon fa-solid fa-check big" onclick="setAction(this, 'approve')"></i>
                    <i class="click-icon fa-solid fa-xmark big" onclick="setAction(this, 'reject')"></i>
                {% else %}
                    {% if reviewers %}
                        <form method="post" class="main-content wider">
                            <table class="main-content">
                                <thead>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Add to Review?</th>
                                </thead>
                                <tbody>
                                    {% for reviewer in reviewers %}
                                        <tr>
                                            <td>{{ reviewer['first_name'] }} {{ reviewer['last_name'] }}</td>
                                            <td>{{ roles[reviewer['role_id'] | string] }}</td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" name="reviewerIDs" value="{{ reviewer['user_id'] }}" {% if check_doc_reviewer(request.args['docID'], reviewer['user_id']) %}checked disabled{% endif %}>
                                                    <span class="checkmark" onclick="toggleCheck(this)"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button class="fix-size-button" onclick="setAction(this, 'markreview', this.form, false)">Submit</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <i class="min-icon fa-solid fa-angle-{% if bodytype > 3 %}down{% else %}up{% endif %} big" onclick="hideBox(this)"></i>
        </div>
    {% endif %}
{% endmacro %}

{% set isreviewer = check_doc_reviewer(request.args['docID'], g.user['user_id']) %}

{% block title %}View Document{% endblock %}

{% block header %}
    {{ topBox(docstate) }}
    <form method="post">
        <input type="hidden" id="docAction" name="action" value="none">
    </form>
{% endblock %}

{% block content %}
    <div class="relative-container">
        <div class="docview">
            {% if isreviewer %}<h4>You have permission to take review steps on this document.</h4>{% endif %}
            {% if docstate == 10 %}<h4>Review for this Document is now Closed.</h4>{% endif %}
            <div class="right-box">
                <i class="click-icon fa-regular fa-trash-can big {% if docstate == 2 or not check_state(g.stateint, 2) %}disabled{% endif %}" onclick="setAction(this, 'remove')"></i>
                <i class="click-icon fa-solid fa-arrow-up-from-bracket big {% if not check_state(g.stateint, 7) or not isreviewer %}disabled{% endif %}" {% if isreviewer and check_state(g.stateint, 7) %}onclick="window.location.href='{{ url_for('docs.update') }}?docID=' + {{ request.args['docID'] }}"{% endif %}></i>
                <i class="click-icon fa-regular fa-comment big {% if docstate < 4 %}disabled{% endif %}" onclick="toggleComments()"></i>
                <i class="click-icon fa-solid fa-comment-slash big {% if not isreviewer or not check_state(g.stateint, 8) or docstate > 8 %}disabled{% endif %}" onclick="setAction(this, 'close comments on')"></i>
                <i class="click-icon fa-regular fa-file-excel big {% if not isreviewer or not check_state(g.stateint, 9) or docstate == 10 %}disabled{% endif %}" onclick="setAction(this, 'close review for')"></i>
            </div>
            <iframe src="{{ url_for('docs.viewer') }}?filename={{ filename }}"></iframe> {# iframe to display document #}
        </div>
    </div>
    <div id="comments" class="bottom-box hidden">
        <i class="min-icon fa-solid fa-xmark big corner" onclick="toggleComments()"></i>
        {% if docstate <= 3 %}
            <div class="comments-disabled">
                <div class="display-box main-content">
                    <h2>Comments Currently Disabled</h2>
                </div>
            </div>
        {% endif %}
        <h2>Comments</h2>
        {% if docstate == 7 %}
        <span>All current comments have been resolved.</span>
        {% elif docstate >= 9 %}
        <span>Comments are now Closed.</span>
        {% endif %}
        <div class="comment-section">
            <div class="comment-box">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment-wrapper {% if comment['author_id'] == g.user['user_id'] %}to-comment{% else %}from-comment{% endif %} {% if comment['resolved'] == 2 %}resolved{% endif %}">
                            <span>Posted {{ date_concise(comment["date_created"]) }}{% if comment['resolved'] == 2 %} - <b>Resolved</b>{% elif comment['resolved'] == 1 %} - <b>Responses</b> {% endif %}</span>
                            <div class="relative-container">
                                <i class="min-icon fa-regular fa-comment-dots" onclick="goToCommentReplies({{ comment['comment_id'] }})"></i>
                                <h3>{{ usernames[comment["author_id"]|string] }}</h3>
                                <p>
                                    {{ comment["comment"] }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments have been made yet.</p>
                {% endif %}
            </div>
            {% if docstate < 9 and isreviewer and check_state(g.stateint, 4) %}
                <form method="post" onsubmit="event.preventDefault()">
                    <div class="comment-container">
                        <textarea class="comment-input" placeholder="Add a comment" name="comment"></textarea>
                        <button onclick="setAction(this, 'comment', this.form, false)">Comment</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

<script>
    {% block scripts %}
        window.addEventListener("keydown", (event) => { //resize the comment input when new lines added
            if (event.target.classList.contains("comment-input")) {
                event.target.style.height = "auto";
                event.target.style.height = event.target.scrollHeight + "px";
            }
        });

        function hideBox(node) { //hide the top box
            document.getElementById("hide-box").classList.toggle("hidden");
            document.getElementById("unhide").classList.toggle("hidden");
            node.classList.toggle("fa-angle-up");
            node.classList.toggle("fa-angle-down");
        }
        function setAction(node, action, otherform=null, doConfirm=true) { //{# set the action to be completed on submission #}
            if (node.classList != null && node.classList.contains("disabled")) return; //dont do it if disabled
            actionInput = document.getElementById("docAction"); //{# hidden action input #}
            form = actionInput.form; //{# get the attached form #}
            actionInput.value = action; //{# set the action value based on function call action #}
            if (otherform != null) { //{# if another form is specified to submit #}
                form = otherform; // {# set the form to the other form #}
                form.appendChild(actionInput); //{# add the hidden input to that form #}
            }
            if (!doConfirm || confirm('Are you sure you want to ' + action + ' this document?')) { //confirm if needed
                actionInput.form.submit();
            }
        }

        async function toggleComments() { // toggle the comments box, async in order to use await
            commentBox = document.getElementById("comments"); // get the comments box
            if (!commentBox.classList.contains("hidden")) { //check if hidden already
                window.scrollTo({top: 0, behavior: "smooth"}); //if not, scroll to top of page
                await new Promise(resolve => setTimeout(resolve, 500)); //wait .5 seconds so animation can finish
            }
            commentBox.classList.toggle("hidden"); //either hide or reveal comment box
            if (!commentBox.classList.contains("hidden")) { //if not hidden now
                commentBox.scrollIntoView({behavior: "smooth"}); //scroll to comments box
            } 
        }

        function goToCommentReplies(commentId) { //go to replies for comment
            window.location.href = "{{ url_for('docs.viewResponses') }}?commentID=" + commentId;
        }
    {% endblock %}
</script>