/* General Page Styles */
:root {
	--black: #000000;
	--white: #FFFFFF;
	--dark-purple: #8786B0;
	--vdark-purple: #645f87;
	--light-purple: #A7A4D3; 
	--light-green: #A7EEB2;
	--dark-green: #58C699;
	--darker-purple: darkslateblue;
}

body {
	font-family: Arial;
	background-color: var(--dark-purple);
	margin: 0;
	padding: 0;
}

.display-box {
	width: 20rem;
	text-align: center;
	border-radius: 7px;
	border: var(--vdark-purple) 1px solid;
	margin: auto;
	margin-top: 10rem;
	background-color: var(--light-purple);
	padding: 2rem;
}

.display-box h1 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.display-box h2 {
	font-size: 1.2rem;
}

.display-box button {
	width: 100%;
	padding: 0.75rem;
	background-color: var(--vdark-purple);
	color: var(--light-green);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 0.8rem;
	font-size: 1.2rem;
}

.display-box span {
	font-size: 1rem;
	display: inline-block;
	color:  #14141f;
	width: 90%;
}

.display-box button:hover {
	background-color: var(--darker-purple);
	color: var(--dark-green);
}

.display-box form {
	margin-top: 5rem;
}

.display-box input {
	width: 93%;
	padding: 0.75rem;
	margin-bottom: 2rem;
	border-radius: 5px;
	border: none;
}

.register {
	width: 25rem;
	margin-top: 6rem;
}

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--light-purple);
	border-bottom: var(--darker-purple) 1px solid;
}

.topnav li {
	float: left;
}

.leftnav {
	float: left;
}

.rightnav {
	float: right;
}

.topnav a {
	display: block;
	color: var(--light-green);
	text-align: center;
	padding: 1.5rem 2.8rem;
	text-decoration: none;
	font-size: 1.2rem;
	background-color: var(--dark-purple);
}

.leftnav a {
	border-right: var(--darker-purple) 1px solid;
}

.rightnav a {
	border-left: var(--darker-purple) 1px solid;
}

.topnav a:hover {
	background-color: var(--darker-purple) !important;
	color: var(--dark-green);
}

.topnav a.active {
	background-color: var(--vdark-purple);
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: var(--dark-purple); 
	padding: 0px;
	color: white;
	border: 2px solid black;
}
.home-button {
	position:relative;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: var(--vdark-purple);
	color: #FFFFFF;
	border: 2px solid black;
	cursor: pointer;
	font-weight: bold;
}
.company-button {
	position:relative;
	left: 41%;
	width: 20%;
	height: 100%;
	background-color: var(--vdark-purple);
	color: #FFFFFF;
	border: 2px solid black;
	cursor: pointer;
	font-weight: bold;
}
.username-button {
	position:relative;
	left: 40%;
	font-weight: bold;
	width: 20%;
	height: 100%;
	background-color: var(--vdark-purple);
	color: #FFFFFF;
	border: 2px solid black;
	cursor: pointer;
}
.side-bar {
	position: fixed;
	top: 12%;
	left: 2%;
	width: 18%;
	height: 86%;
	background-color: var(--dark-purple); 
	border: 2px solid black;
	padding: 0px;
	color: white;
}
.nav-button {
	font-weight: bold;
	width: 100%;
	height: 10%;
	background-color: var(--dark-green);
	color: var(--black);
	border: 2px solid black;
	cursor: pointer;
}

.display-port {
	position: fixed;
	top: 12%;
	left: 22%;
	width: 60%;
	height: 86%;
	background-color: var(--dark-purple); 
	border: 2px solid black;
}
.tab-head {
	position: relative;
	top: -.25%;
	left: 0%;
	width: 98.5%;
	height: 10%;
	background-color: var(--vdark-purple); 
	border: 2px solid black;
	margin-top: 0;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 1%;
	color: var(--white);
	text-align:center;
}
.doc-button {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	color: var(--black);
}
.doc-field {
	position: relative;
	top: 0%;
	left: 0%;
	width: 30%;
	height: 100%;
	color: var(--black);
}

.author-field {
	position: relative;
	top: 0%;
	left: 30%;
	width: 30%;
	height: 100%;
	color: var(--black);
}

.state-field {
	position: relative;
	top: 0%;
	left: 60%;
	width: 30%;
	height: 100%;
	color: var(--black);
}


