/* General Page Styles */
:root {
	--black: #000000;
	--white: #FFFFFF;
	--dark-purple: #8786B0;
	--vdark-purple: #645f87;
	--light-purple: #A7A4D3; 
	--light-green: #A7EEB2;
	--dark-green: #58C699;
	--darker-purple: darkslateblue;
}

body {
	font-family: Arial;
	background-color: var(--dark-purple);
	margin: 0;
	padding: 0;
}

.relative-container {
	position: relative;
}

.display-box {
	width: 20rem;
	text-align: center;
	border-radius: 7px;
	border: var(--vdark-purple) 1px solid;
	margin: auto;
	margin-top: 14rem;
	background-color: var(--light-purple);
	padding: 2rem;
	margin-bottom: 3rem;
}

.display-box h1 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.display-box h2 {
	font-size: 1.2rem;
}

button {
	width: 100%;
	padding: 0.75rem;
	background-color: var(--vdark-purple);
	color: var(--light-green);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 0.8rem;
	font-size: 1.2rem;
}

.display-box span {
	font-size: 1rem;
	display: inline-block;
	color:  #14141f;
	width: 90%;
}

button:hover:enabled {
	background-color: var(--darker-purple);
	color: var(--dark-green);
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.main-content {
	margin-top: 5rem;
}

.click-icon {
	color: var(--light-green);
	border-radius: 50%;
	background-color: var(--vdark-purple);
	padding: 0.4rem;
	line-height: normal !important;
}

.big {
	font-size: 1.5rem !important;
	margin: 0 1rem;
}
.big::before {
	width: 1.4rem;
	display: inline-block;
}
.big.min-icon {
	position: absolute;
	right: 1.2rem;
	bottom: 1.2rem;
}

.right-box {
	position: absolute;
	right: 8rem;
	top: 8rem;
	border: var(--darker-purple) 1px solid;
	background-color: var(--dark-purple);
	filter: brightness(0.9);
	border-radius: 5px;
	min-height: 20rem;
}
.right-box i {
	display: block;
	margin: 2rem 1.6rem;
}

.rolename {
	display: inline-block;
}

.comment-section {
	width: 50rem;
	margin: auto;
	height: 30rem;
}

.comment-box {
	width: 100%;
	border: var(--darker-purple) 1px solid;
	background-color: var(--light-purple);
	filter: brightness(0.95);
	color: var(--dark-purple);
	height: 24rem;
	overflow-y: auto;
}

.comment-input {
	padding: 0.5rem;
	flex: 3;
	margin-right: 1.5rem;
	margin-left: 0.5rem;
	border: var(--darker-purple) 1px solid;
	border-radius: 3px;
	resize: none;
	overflow: auto;
	background-color: var(--light-purple);
	filter: brightness(1.3);
	font-size: 1.1rem;
	overflow-wrap: normal;
	height: 2rem;
}

.comment-container {
	display: flex;
	margin-top: 2rem;
}

.comment-container button {
	flex: 1;
	margin: 0;
}

.click-icon:hover:not(.disabled) {
	color: var(--dark-green);
	background-color: var(--darker-purple);
}

.click-icon.disabled {
	background-color: var(--light-purple) !important;
	color: slategray !important;
	cursor: not-allowed;
}

table.main-content {
	width: 100%;
	margin-top: 3rem;
	font-size: 1.2rem;
}

table.main-content, table.main-content td, th {
	border: var(--darker-purple) 1px solid;
	border-collapse: collapse;
}

table.main-content td, th {
	padding: 0.5rem;
	position: relative;
}

table.main-content thead {
	background-color: var(--dark-purple);
}

table.hover tr:hover:not(thead tr) {
	background-color: var(--vdark-purple);
}

table.main-content input[type=text] {
	margin: 1rem;
	width: 4rem;
	padding-top: 0.7rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	background-color: var(--light-purple);
	border-radius: 3px;
}

#addrole table {
	margin-left: 1rem;
	margin-top: 0;
	margin-bottom: 1.5rem;
	width: 20rem;
	font-size: 1rem;
}

#addrole {
	margin-top: 2rem;
}

#addrole button {
	margin-top: 2rem;
}

.checkbox {
	display: flex;
	position: relative;
	padding-left: 2.5rem;
	margin-bottom: 1rem;
	left: 50%;
	transform: translateX(-12.5%);
	cursor: pointer;
	font-size: 1.2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5rem;
	width: 1.5rem !important;
	background-color: var(--dark-purple);
}

.checkbox:hover input:enabled ~ .checkmark {
	background-color: var(--darker-purple) !important;
}

.checkbox input:disabled ~ .checkmark {
	opacity: 0.5;
}

.checkbox input:checked ~ .checkmark {
	background-color: var(--vdark-purple);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox input:checked ~ .checkmark:after {
	display: block;
}

.checkbox .checkmark:after {
	left: 0.5rem;
	top: 0.25rem;
	width: 0.25rem;
	height: 0.5rem;
	border: solid var(--light-green);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.memberlist {
	width: 90rem;
	padding: 0 !important;
	margin-top: 8rem;
}

.col-index td:first-child {
	background-color: var(--dark-purple) !important;
}

.col-index th:first-child {
	background-color: var(--vdark-purple) !important;
}

.display-box input:not([type=checkbox]) {
	width: 93%;
	padding: 0.75rem;
	margin-bottom: 2rem;
	border-radius: 5px;
	border: none;
}

.display-box textarea {
	width: 93%;
	padding: 0.75rem;
	border-radius: 5px;
	border: none;
	min-height: 8rem;
	resize: vertical;
}

.display-box label {
	font-size: 1.2rem;
	padding-left: 1rem;
	float: left;
	transform: translateY(40%);
}

.display-box select {
	font-size: 1rem;
	color: var(--darker-purple);
	padding: 0.75rem 1.2rem;
	border-radius: 3px;
	border: var(--darker-purple) 1px solid;
	min-width: 12rem;
	text-align: center;
}

.savewrapper {
	position: relative;
}

div.savewrapper {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: min-content;
}

.iconstar .star {
	right: -0.4rem;
	top: -0.8rem;
}

#flashes {
	margin: auto;
	margin-top: 5rem;
	text-align: center;
}

.star {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	width: min-content !important;
}

.hidden {
	display: none !important;
}

.min-icon {
	color: slategray;
	float: right;
	font-size: 1.2rem;
}

.min-icon:hover {
	color: var(--darker-purple);
}

.description {
	position: absolute;
	width: 20rem;
	background-color: var(--light-purple);
	padding: 0.5rem;
	border-radius: 5px;
	left: 2.55rem;
	top: 30%;
	z-index: 1;
	border: var(--darker-purple) 1px solid;
	white-space-collapse: collapse;
}

.description h3 {
	text-align: left;
	padding-left: 1rem;
	margin: 0;
	width: min-content;
	display: inline-block;
}

.description textarea {
	width: 80%;
	min-height: 5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.register {
	width: 25rem;
	margin-top: 8rem;
	margin-bottom: 4rem;
}

.top-control button {
	width: max-content;
	float: right;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-bottom: 1rem;
}

.top-control button:first-of-type {
	float: left;
}

.bottom-box {
	width: 70%;
	position: relative;
	border-bottom: none;
	background-color: var(--light-purple);
	margin: auto;
	text-align: center;
	border: var(--darker-purple) 1px solid;
	border-radius: 5px;
	z-index: 5;
	height: 40rem;
}

.bottom-box h2 {
	margin: 3rem 0;
}

.corner {
	bottom: unset !important;
	top: 2rem;
}

.top-box {
	width: 90%;
	position: sticky;
	top: 4.3rem;
	background-color: var(--light-purple);
	padding-top: 4rem;
	margin: auto;
	margin-bottom: 2rem;
	text-align: center;
	border: var(--darker-purple) 1px solid;
	border-top: none;
	opacity: 0.9;
	border-radius: 5px;
	z-index: 5;
}

.top-box h2 {
	margin-bottom: 3rem;
}

#hide-box {
	margin-bottom: 4rem;
}
#hide-box span {
	font-size: 1.3rem;
}
#unhide {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 45%;
	font-weight: bold;
}

.topnav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--light-purple);
	border-bottom: var(--darker-purple) 1px solid;
}

.topnav li {
	float: left;
}

.leftnav {
	float: left;
}

.rightnav {
	float: right;
}

.topnav a {
	display: block;
	color: var(--light-green);
	text-align: center;
	padding: 1.5rem 2.8rem;
	text-decoration: none;
	font-size: 1.2rem;
	background-color: var(--dark-purple);
}

.leftnav a {
	border-right: var(--darker-purple) 1px solid;
}

.rightnav a {
	border-left: var(--darker-purple) 1px solid;
}

.topnav a:hover {
	background-color: var(--darker-purple) !important;
	color: var(--dark-green);
}

.topnav a.active {
	background-color: var(--vdark-purple);
}

.docview {
	margin: auto;
	margin-top: 8rem;
	display: block;
	width: 60%;
	height: 90vh;
	border: none;
	margin-bottom: 5rem;
}

.empty {
	height: 40vh;
}

.empty h2 {
	margin-top: 30vh;
}

.alerts {
	table-layout: auto;
}

td.date {
	text-wrap: nowrap;
}

.alerts tr {
	background-color: var(--dark-purple);
	padding: 1rem;
	padding-left: 1.5rem;
	text-align: left;
}

.alerts tr:not(.disabled):hover {
	background-color: var(--vdark-purple);
}

.wider {
	width: 40rem;
}

form.wider {
	margin: auto;
}
form.wider button {
	margin-top: 5rem;
}

.fix-size-button {
	width: 10rem;
}

hr {
	border-color: var(--darker-purple);
}