{% extends 'base.html' %}

{% block content %}
<div class="display-box wider">
    <h1>{% block title %}Alerts{% endblock %}</h1>
    <hr>
    <table class="alerts main-content">
    {% if alerts %}
    {% for alert in alerts %}
    <tr>
        <td {% if alert['link'] %}onclick="goToLink('{{ alert['link'] }}')"{% endif %}>{{ alert['message'] }}</td>
        <td class="date">{{ date_concise(alert['date_created']) }}</td>
    </tr>
    {% endfor %}
    {% else %}
        <tr class="disabled">No alerts found.</tr>
    {% endif %}
    </table>
</div>
{% endblock %}

<script>
    {% block scripts %}
        function goToLink(link) {
            window.location.href = link;
        }
    {% endblock %}
</script>
