<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Collabinator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <nav class="topnav">
            <ul>
                <div class="leftnav">
                    <li><a id="index" href="{{ url_for('index') }}">Collabinator</a></li>
                    {% if g.is_manager %}
                        <li><a id="members" href="{{ url_for('members') }}">Members</a></li>
                        <li><a id="roles" href="{/{ url_for('roles') }}">Roles</a></li>
                    {% endif %}
                </div>
                <div class="rightnav">
                    {% if g.user %}
                        <li><a id="settings" href="{/{ url_for('settings') }}">{{ g.user["first_name"] }}</a></li>
                        <li><a id="logout" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a id="register" href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a id="login" href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>

        <script>
            {% if activeNav %}
                document.getElementById("{{ activeNav }}").classList.add("active");
            {% endif %}
        </script>
    </body>
</html>