{# base template for all pages, not to be accessed on its own #}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>{% block fulltitle %}{% block title %}{% endblock %} - Collabinator{% endblock %}</title> {# title should be set on each page that extends this #}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <nav class="topnav">
            <ul>
                <div class="leftnav">
                    <li><a id="index" href="{{ url_for('index') }}">Collabinator</a></li>
                    {% if activeNav == "docs"%} {# keep this hidden until we are already here #}
                        <li><a id="docs" href="{{ url_for(request.endpoint) }}">Docs</a></li>
                    {% endif %}
                    {% if check_state(g.stateint, 10) %} {# only roles with manage users can view these pages #}
                        <li><a id="members" href="{{ url_for('members') }}">Members</a></li>
                        <li><a id="roles" href="{{ url_for('roles') }}">Roles</a></li>
                    {% endif %}
                </div>
                <div class="rightnav">
                    {% if g.user %} {# only show this if user is logged in #}
                        <li><a id="alerts" href="{{ url_for('alerts') }}">{{ g.user["first_name"] }}</a></li> {# meant to go to alerts, intentionally broken url for now #}
                        <li><a id="logout" href="{{ url_for('auth.logout') }}">Log Out</a></li> {# logout #}
                    {% else %} {# show these if not logged in #}
                        <li><a id="register" href="{{ url_for('auth.register') }}">Register</a></li> {# register #}
                        <li><a id="login" href="{{ url_for('auth.login') }}">Log In</a></li> {# login #}
                    {% endif %}
                </div>
            </ul>
        </nav>
        <section class="content">
            {% block header %}{% endblock %}
            <div id="flashes">
            {% for message in get_flashed_messages() %} {# flash messages #}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
            {% block content %}{% endblock %} {# this is where the main content of an extended page goes #}
        </section>

        <script>
            {% block scripts %}{% endblock %} // extra scripts can go here
            {% if activeNav %}
                document.getElementById("{{ activeNav }}").classList.add("active"); //set the active navbar item
            {% endif %}
            function toggleCheck(node, additionalScript=null) { {# used for toggling checkboxes mostly in the roles section #}
                var checkbox = node.parentNode.children[0];
                if (!checkbox.disabled) {
                    checkbox.checked = !checkbox.checked;
                    if (typeof(additionalScript) === "function") { //if an additional function to run was passed then run it
                        additionalScript(node);
                    }
                }
            }
        </script>

        <script src="https://kit.fontawesome.com/ce931bd998.js" crossorigin="anonymous"></script> {# font awesome icons #}
    </body>
</html>