<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="CollabStyle.css">
<title>Collabinator</title>
</head>
<body>
<style>
body {
	font-family: Arial;
	background-color: var(--dark-purple);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
</style>
<div class="box">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="notification is-danger">
			{{ messages[0] }}
		</div>
	{% endif %}
	{% endwith %}
	<div class="login-title">Collabinator</div>
	<form method="POST" action="/login">
		<div class="field">
			<div class="control">
				<input type="text" class="login-field" name="InputUsername" placeholder="Username" required>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<input type="password" class="login-field" name="InputPassword" placeholder="Password" required>
			</div>
		</div>
		<button class="login-button" type="submit">Login</button>
	</form>

</div>

</body>
</html>
