{% extends "base.html" %}

{% block content %}
    <div class="display-box memberlist">
        <h1>{% block title %}Members{% endblock %}</h1>
        <table class="main-content hover">
            <thead>
                <tr> {# table header #}
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Date Registered</th>
                    <th>Last Active</th>
                </tr>
            </thead>
            <tbody>
                <form method="post" id="member-select-form">
                    <input id="member-select-value" name="user_id" type="hidden">
                </form>
                {% for member in members %} {# for each member in users table, passed as variable in members.py #}
                    <tr onclick="editMember({{member['user_id']}});"> {# edit member link handled by javascript function editMember #}
                        <td>{{ member["first_name"] }}</td> {# fill in user information in each row #}
                        <td>{{ member["last_name"] }}</td>
                        <td>{{ member["email"] }}</td>
                        <td>{{ get_role(member["role_id"])["role_name"] }}</td> {# use member's role id to get role name, uses get_role defined in db.py (this only works because it is defined in jinja global scope in init.py)#}
                        <td>{{ date_format(member["date_registered"]) }}</td> {# date_format is also defined in db.py and is also included in jinja global scope #}
                        <td>{% if member["last_active"] %} {# not all members have had last active set, if they never logged in, so check that it is set #}
                            {{ date_concise(member["last_active"]) }} {# get the formatted date of last active #}
                        {% else %}
                            Never Logged In {# if member has never logged in, show this #}
                        {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
<script>
    {% block scripts %}
        function editMember(id) { {# id is input for each row by jinja in the table row's onclick method #}
            document.getElementById("member-select-value").value = id; {# hidden input for storing the id of the target user to edit #}
            document.getElementById("member-select-form").submit(); {# submit the form to edit the target user #}
        }
    {% endblock %}
</script>