{% extends "base.html" %}

{% block content %}
    <div class="display-box memberlist">
        <h1>{% block title %}Members{% endblock %}</h1>
        <table class="main-content hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Date Registered</th>
                    <th>Last Active</th>
                </tr>
            </thead>
            <tbody>
                <form method="post" id="member-select-form">
                    <input id="member-select-value" name="user_id" type="hidden">
                </form>
                {% for member in members %}
                    <tr onclick="editMember({{member['user_id']}});">
                        <td>{{ member["first_name"] }}</td>
                        <td>{{ member["last_name"] }}</td>
                        <td>{{ member["email"] }}</td>
                        <td>{% if member["role_id"] %}
                            {{ get_role(member["role_id"])["role_name"] }}
                        {% else %}
                            None
                        {% endif %}</td>
                        <td>{{ date_format(member["date_registered"]) }}</td>
                        <td>{% if member["last_active"] %}
                            {{ date_format(member["last_active"]) }}
                        {% else %}
                            Never Logged In
                        {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function editMember(id) {
            document.getElementById("member-select-value").value = id;
            document.getElementById("member-select-form").submit();
        }
    </script>
{% endblock %}